/* Global Styles */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #dfff27;
  color: rgb(0, 0, 0);
  font-family: "Afacad", sans-serif;
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100vh; /* Ensure body takes up full viewport height */
}

#landing-page {
  overflow-y: auto;
  height: auto; /* Allow auto height */
  overscroll-behavior-y: auto;
  scroll-snap-type: y mandatory;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background: #dfff27;

  position: fixed;
  width: 100%;
  z-index: 100000;
  margin-right: 20px;
}

.logo {
  height: 45px;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

/* Navbar list */
.nav-list {
  display: flex;
  list-style: none;
  padding-right: 20px;
}

.nav-list li {
  margin-left: 30px;
}

.nav-list li a {
  text-decoration: none;
  font-size: 18px;
  color: #484747;
  transition: color 0.3s;
}

.nav-list li a:hover {
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav-list {
    position: absolute;
    top: 60px;
    right: -100%;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
  }

  .nav-list li {
    margin: 20px 0;
  }

  .nav-list.open {
    right: 0;
  }

  .menu-toggle {
    display: flex;
  }
}

/*moi*/

h1 {
  font-weight: lighter;
  font-size: 20px;
  margin: 20px;
  margin-top: 40px;
}

.about-section {
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: space-between; /* Space between images and text */
  padding: 20px; /* Optional: Add some padding */
}

.left-image {
  max-height: 80vh;
  position: absolute;
  bottom: 0;
  left: 0;
}

.about-content {
  flex: 1; /* Allow this to grow and take up available space */
  padding: 0 20px; /* Add some horizontal padding */
  text-align: left; /* Align text to the left */
  margin-left: 550px;
  margin-top: 250px;
  margin-right: 90px;
}

.right-image {
  width: 60%; /* Adjust width as needed */
}
